* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: green;
    background-image: linear-gradient(skyblue, skyblue);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    min-height: 100vh;
    align-items: center;
    overflow: hidden;
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1 {
    font-size: 30px;
    color: darkgreen;
    display: inline-block;
}
.gameBoard {
    width: 60vmin;
    height: 65vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: darkgreen;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.information {
    display: flex;
    color: rgb(228, 220, 215);
    font-weight: 500;
    font-size: 20px;
    justify-content: space-between;
    padding: 20px 25px;
}
.gameArea {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: repeat(20, 1fr) / repeat(20, 1fr);
    background: greenyellow;
    border-style: solid;
}
.gameArea .food {
    font-size: 24px;
    line-height: 1;
    display: inline-block; 
    width: 24px; 
    height: 24px; 
    text-align: center; 
    vertical-align: middle;
}
.gameArea .snake {
    background: darkgreen;
    border-radius: 20%;
    border-style: dashed;
}
.arrowKeys {
    display: none;
    justify-content: space-between;
}
.arrowKeys i {
    padding: 25px 0;
    text-align: center;
    color: white;
    width: calc(100%/4);
    cursor: pointer;
    border-right: 1px solid black;
}
@media screen and (max-width: 800px) {
    .gameBoard {
        width: 100vmin;
        height: 100vmin;
    }
    .information {
        font-size: 15px;
    }
    .arrowKeys {
        display: flex;
    }
    .arrowKeys i {
        padding: 10px;
        font-size: 10px;
    }
}
.menu {
    display: flex;
    font-size: 30px;
    justify-content: center;
    background: rgb(255, 119, 0);
    border-radius: 20%;
    box-shadow: 0 20px 20px rgba(255, 0, 0, 0.2);
}
.sun {
    position: relative;
    left: 300px;
    top: 0px;
    width: 150px;
    height: 150px;
    background: rgb(255, 200, 0);
    border-radius: 50%;
    animation: shine 4s ease-in-out infinite;

}
@keyframes shine {
    50% {
        box-shadow: 0 0 20px yellow,
                    0 0 60px yellow,
                    0 0 250px yellow;
    }
}

.menuButton {
    width: 100px;
    height: 40px;
    background: orange;
    border-radius: 20%;
    font-weight: 500;
    font-size: 20px;
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}
.closeButton {
    background: red;
    font-size: 20px;
    font-weight: 500;
}
.popup {
    width: 400px;
    background: orange;
    border-radius: 5px;
    position: absolute;
    top 0;
    left: 50%;
    transform: translate(-50%, 50%) scale(0.1);
    text-align: center;
    padding: 10 10px 10px;
    color: black;
    visibility: hidden;
    transition: transform 0.4s, bottom 04.s;
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

}
.open-popup {
    visibility: visible;
    top: 25%;
    transform: translate(-50%, 50%) scale(1);
}

.popup h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: white;
    color: black;
    border: 0;
    outline: none;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.cloud {
    display: inline;
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
}
.material-icons {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.necki {
}

.dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    border-style: solid black;
}

.dialog-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: orange;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dialog-content h2 {
    color: #f44336;
}

.dialog-content p {
    margin-bottom: 20px;
}
#restartButton {
    width: 75%;
    height: 50%;
    background: green;
    color: white;
    border-radius: 20%;
    font-weight: 500;
    font-size: 20px;
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#tree1 {
    position: absolute;
    width: 120px;
    height: 120px;
    background: #94ab40;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    transform: rotate(315deg);
    top: 300px;
    right: 0;
}
#tree1::before {
    content: "";
    position: absolute;
    top: 85px;
    width: 10px;
    height: 100px;
    background: #3c2700;
    transform: rotate(45deg);
    left: -20px;
}
#tree2 {
    position: absolute;
    width: 120px;
    height: 120px;
    background: #94ab40;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    transform: rotate(315deg);
    top: 300px;
    left: 0;
}
#tree2::before {
    content: "";
    position: absolute;
    top: 85px;
    width: 10px;
    height: 100px;
    background: #3c2700;
    transform: rotate(45deg);
    left: -20px;
}
