* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: skyblue;
    min-height: 100vh;
    align-items: center;
}

.gameBoard {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background: darkgreen;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.information {
    display: flex;
    color: rgb(228, 220, 215);
    font-weight: 500;
    font-size: 1.2rem;
    justify-content: space-between;
    padding: 20px 27px;
}
.gameArea {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: repeat(20, 1fr) / repeat(20, 1fr);
    background: greenyellow;
}
.gameArea .food {
    background: red;
}
.gameArea .snake {
    background: darkgreen;
}
.arrowKeys {
    display: none;
    justify-content: space-between;
}
.arrowKeys i {
    padding: 25px 0;
    text-align: center;
    font-size: 1.3rem;
    color: white;
    width: calc(100%/4);
    cursor: pointer;
    border-right: 1px solid black;
}
@media screen and (max-width: 800px) {
    .gameBoard {
        width: 90vmin;
        height: 115vmin;
    }
    .information {
        font-size: 15px;
    }
    .arrowKeys {
        display.flex;
    }
    .arrowKeys i {
        padding: 10px;
        font-size: 10px;
    }
}
.sun {
    position: relative;
    left: 300px;
    top: 0px;
    width: 150px;
    height: 150px;
    background: yellow;
    border-radius: 50%;
    animation: shine 4s ease-in-out infinite;

}
@keyframes shine {
    50% {
        box-shadow: 0 0 20px yellow,
                    0 0 60px yellow,
                    0 0 250px yellow;
    }
}